body {
  background-color: black;
  width: 100%;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
}

h2 {
	font-family: "Poppins", sans-serif;
	font-weigth: 500;
	color: white;

}

p {
  color: white;
}

.square-grid {
  height: 20rem;
  width: 100%;
}

#header {
  transition: all 0.5s ease-in-out;
}

.header-blur {
  background-color: rgba(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(16px);
}
