body {
  background-color: black;
  width: 100%;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
}

h2 {
	font-family: "Poppins", sans-serif;
	font-weigth: 500;
	color: white;

}

p {
  color: white;
}

.square-grid {
  height: 20rem;
  width: 100%;
}
